body{
  background-color: #0b1218;
}

main{
  background-color: #1d2d3c;

  
}

header{
  background-color: #111f2b;
}

.sa_container{
  border-radius: 5px;

}

.logo{
  width: 80px;
  padding: 10px;
  margin-left: 20px;
}

.sa_card{
  background-color: #112030;
  box-shadow: 0px 2px 15px 2px ;
  position: relative;

}

.sa_card img{
    
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1; 
    transform: scale(0.8);
    box-shadow: 0px 2px 15px 2px ;
    margin: 0 auto;
  }
  .sa_card img:hover{
    transform: scale(0.9);
    transition: .5s ease;
  }

  .info-card{
    border-radius: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
  }

  .like{
    content: '<i class="fa-solid fa-heart"></i>';
  }