body{
  background-color: #0b1117;
}

main{
  background-color: #1d2d3c;
}

header{
  background-color: #203042;
}

.logo{
  width: 80px;
  padding: 10px;
  margin-left: 20px;
}

.sa_card{
  background-color: #61616179;
  box-shadow: 0px 2px 15px 2px;
  /* width: 300px */
  
}

.sa_card img{
    border-radius: 50%;
    transform: scale(0.7);
    width: 350px; 
    box-shadow: 0px 2px 15px 2px;
    margin: 0 auto;
  }
  .sa_card img:hover{
    transform: scale(1.1);
    transition: .1s ease;
  }